{% extends "base.html" %}

{% block content %}

<div class="dashboard">

    <!-- Sidebar -->
    <div class="sidebar">

        <div class="logo" style="color: white;">
            🔐 SecureVault
        </div>

        <div class="user-box">
            <div class="user-circle">
                {{ current_user.username[0]|upper }}
            </div>

            <h3>{{ current_user.username }}</h3>
            <p>Secure User</p>
        </div>

        <a href="{{ url_for('auth.logout') }}" class="logout-btn">
            Logout
        </a>

    </div>

    <!-- Main Content -->
    <div class="main-content">

        <!-- Top -->
        <div class="top-bar">
    <h1>Your Secure Notes</h1>
</div>

<div class="subtitle-bar">
    <p>Encrypted storage dashboard</p>
</div>
        <!-- Add Note -->
        <div class="add-note-card">

            <form method="POST">

                <textarea
                    name="secret_text"
                    placeholder="Write your secure encrypted note..."
                    required
                ></textarea>

                <button type="submit">
                    Encrypt & Save
                </button>

            </form>

        </div>

        <!-- Notes Grid -->
        <div class="notes-grid">

            {% for note in notes %}

            <div class="note-card-modern">

                <div class="note-text">
                    {{ note.content }}
                </div>

                <form action="{{ url_for('user.delete_note', note_id=note.id) }}" method="POST">

                    <button class="delete-btn" type="submit">
                        Delete
                    </button>

                </form>

            </div>

            {% else %}

            <div class="empty-card">
                No secure notes yet 🔒
            </div>

            {% endfor %}

        </div>

    </div>

</div>

{% endblock %}